<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-content">
      <h3>lorem ipsum</h3>
      <p>Lorem ipsum t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
      <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="http://www.twitter.com/{{ site.twitter_username }}">
            <img src="/images/twitter.png" alt="twitter logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://www.github.com/{{ site.github_username }}">
            <img src="/images/github.png" alt="github logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://plus.google.com/{{ site.google_username }}">
            <img src="/images/google.png" alt="google logo" width="40">
          </a>
        </li>
      </ul>
    </div>

    

  </div>

</footer>
